# Proxmox API configuration
proxmox_url      = "https://192.168.0.27:8006/api2/json"
proxmox_token    = "automation@pam!infra-token=83533b51-1a4a-40b6-b498-16c4f3ab69ad"
proxmox_insecure = true

# Proxmox node configuration
proxmox_node = "hybridhub"
proxmox_host = "192.168.0.27"
